#container {
    margin: 0 auto;
    width: 60%;
    background: #fff;
}


html {
    font-size: 1.3em;
}

p {
    padding: 0;
    margin:  0;
    clear: right;
}


.poem {
    margin-top: 2em;
    border-top: solid gray 1px;
    clear: both;
}

.note {
    width		: 10em;
    padding		: 1em;
    margin		: 3em;
/*    background	: #ccc; */
    float		: left; 
    margin-left		: -15em;
/*    border-right	: solid gray 1px; */
    font-size		: 0.5em;
    font-weight		: normal;
    text-transform	: none;
    font-family		: sans-serif;
}

.linegroup {
   padding: 0.5em;
}


.lemma {
    color: red;
}

.reading {
    text-decoration: none;
    font-size: 0.7em; 
    vertical-align: middle;
    color: #a0a0a0; 
/*    float: right;
    clear: right;  */
    padding-left: 10em;
    float: right;
    clear: right;


}

.title {
    font-style: italic;
}

.caps {
    text-transform: uppercase;
    
}

.indent1 {
/*    text-indent: 1em; */
    margin-left: 1em;
}

.indent2 {
/*    text-indent: 2em; */
    margin-left: 2em;
}

.indent3 {
/*    text-indent: 3em; */
    margin-left: 3em;
}

.indent4 {
/*    text-indent: 4em;*/
    margin-left: 3em; 
}

.lineNo {
    float: left;
    color: #d0d0d0; 
    text-align: left;
    padding-right: 1em; 
    text-align: right; 
    min-width: 3em;  
}

.sigla {
    color: blue;
    text-decoration: italic;
}

.empty-lemma {
   background-color: red;
}