
#container {
    margin: 0 auto;
    width: 80%; 
    background: #fff;
/*    padding-left: 18em; */
}


html {
    font-size: 1.3em;
    color: #423F37;
}

p {
    padding: 0;
    margin:  0;
/*    text-indent: -3em;  */
    clear: right;
}


.poem {

/*    padding-left: 7em;  */
    padding-left: 20%;
    margin-top: 2em;
/*    border-top: solid gray 1px; */
/* The following three rules ensure a page number goes with the appropriate poem */
    border-bottom: solid gray 1px;
    padding-bottom: 2em;
    margin-bottom: 2em;
    clear: both;
    position: relative;
}

.poem h3 {
    text-indent: -2em;
}

.textualNote {
    width		: 10em;
    padding		: 1em;
    margin		: 3em;
/*    background	: #ccc; */
    float		: left; 
    margin-left		: -20em;
/*    border-right	: solid gray 1px; */
    font-size		: 0.5em;
    font-weight		: normal;
    text-transform	: none;
    font-family		: sans-serif;
    text-indent         : 0em;
    line-height		: normal;
}

.note ul {
    padding: 0;
}

.linegroup {
   padding: 0.5em;
}

.apparatus {
    cursor: pointer;
}

.reading {
/* Old Style 
    text-decoration: none;
    font-size: 0.7em; 
    vertical-align: middle;
    color: #a0a0a0; 
    padding-left: 10em;
    float: right;

    width: 15em;
    text-indent: 0em;
*/
    display: none;
    color: #a0a0a0;
}

.lemma {
    display: inline;
    color: red;
}

.title {
    font-style: italic;
}

.caps {
    text-transform: uppercase;
    
}

.indent1 {
/*    text-indent: 1em; */
    margin-left: 1em;
}

.indent2 {
/*    text-indent: 2em; */
    margin-left: 2em;
}

.indent3 {
/*    text-indent: 3em; */
    margin-left: 3em;
}

.indent4 {
/*    text-indent: 4em;*/
    margin-left: 3em; 
}

.lineNo {
    float: left;
    color: #d0d0d0; 
    text-align: left;
    padding-right: 1em; 
    text-align: right; 
    min-width: 3em;  
    margin-left: -4em;
}

.sigla {
    color: blue;
    text-decoration: italics;
}

.empty-lemma {
   background-color: red;
}

/* Styles for prose blocks follow */
div.prose {
    margin: 0 auto;
    width: 65%;
    background: #fff;
    padding-left: 15%;
}

div.prose h3 {
    font-variant: small-caps;
    text-align: center;
    font-size: 1.7em;
}

div.prose p {
    text-indent: 0em;
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: justify;
}

div.prose p + p {
    text-indent: 2em;
}

div.prose .closer {
    right: 0em;
    text-align: right;
}

/* Styles for reviews */
div.prose.review {
    padding-bottom: 2em;
    border-bottom: 1px solid black;
}

div.prose.review p.citation {
    width: 60%;
    padding-top: 0em;
    padding-bottom: 2em;
    font-size: 80%;
    color: darkgray;
}

div.prose.review h4 {
    color: #777777;
    font-size: 1.0em;
    line-height: normal;
}


/* What follows are hacks for dealing with poetry 
  quoted within prose. */
/* This style hides the line numbers for poems quoted in 
   a review. */
div.prose.review .lineNo {
    display: none;
}

/* We treat poetic lines as as a special species of HTML paragraphs.
   This means we have to override the rule for paragraph indentation. */
div.prose.review p.verse-container {
    text-indent: 0em;
}

/* control formatting of poet lines in prose; mostly, that is 
   quoted material 
div.prose.review .poetic-line {
    padding-left: 2em;
    text-align: left;
}
*/
/* End of Poetry within Prose Hacks */

.section-title {
    font-variant: small-caps;
    padding-left: 3em;
    color: #b80000;
}


/* Styles for title material */
#titlePage, #half-title {
    margin: 0 auto;
    width: 60%; 
    text-align: center;
    padding: 8em;
}

#frontmatter p, #titlePage p {
    text-indent: 0em;
}

#frontmatter {
    font-size: 0.8em;
    color: #838b8b;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 4em;
}


/* Styles for Table of Contents */
#tableOfContents {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 15%;
    text-align: left;
    padding-right: 4em;
    padding-left: 2em;
    border-right: 1px solid black;
    font-size: 0.8em;
}

#tableOfContents li {
/*    list-style:none; */
}

#tableOfContents a {
    text-decoration: none;
}

.caps {
    font-variant: small-caps;
}

.pageBreak {
    position: absolute;
    right: 10%;
    color: gray;
    float: right;
    text-align: right;
    font-size: 0.7em;
}

.editorialNotes {
    width: 70%;
    margin-left: -7em;
    padding: 1em;
    font-family: sans-serif;
    font-size: 0.7em;
    text-indent: -1em;
}

.editorialNotes li {
    list-style: none;
}

sup.footnote {
    display: none;
    font-size: 0.7em;
    color: #6495ED;
}

span.quoted-lg {
    display: block;
}

span.quoted-poetry {
    display: block;
    margin-left: 3em;
    text-indent: -2em;
    font-size: 1em;
    line-height: 1.4em;
}

a.reference, a.source {
    text-decoration: none;
}

a:link.reference, a:link.source {
    color: #4961e1;
}

a:visited.reference, a:visited.source { 
    color: #483d8b;
}

.toggles {
    line-height: normal;
    width		: 12em;
    background-color	: gray;
    opacity		: 0.8;
    font-size		: 0.7em;
    font-family		: sans-serif;
    padding-left: 1em; 
    padding-right: 1em;
/*    position: absolute;
    right: 0; */
    float: right;
}

.toggles h4 {
    margin-bottom: 0.5em;
}

.editorialNotes {
    display: none;
}

